@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --font-body: 'IBM Plex Mono', monospace;
  --font-label: 'JetBrains Mono', monospace;
}

/* Global */
body {
  font-family: var(--font-body);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-body);

}

/* Labels */
label {
  font-family: var(--font-label);
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: var(--font-body);
  outline: none;

}

body {
  /* padding: 10px 20px; */
  background-color: #0D0F12;
  color: #C6C6CA;

}